:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --very-dark-blue: rgb(76, 78, 97);
  --grayish-blue: hsl(229, 6%, 66%);
  --very-light-gray: hsl(0, 0%, 98%);
  --semi-white: rgba(77, 79, 98, 0.5);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--very-light-gray);
  font-family: 'Poppins', sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

.header {
  max-width: 540px;
  margin: 0 auto;
  text-align: center;
  padding: 0 2rem;
  margin-top: 5.25rem;
  color: var(--very-dark-blue);
  box-sizing: content-box;
}

.header__title,
.header__subtitle {
  font-size: 1.5rem;
  line-height: 1.5;
}

.header__title {
  font-weight: 200;
}

.header__text {
  margin-top: 1rem;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  color: var(--semi-white);
}

.cards {
  display: flex;
  flex-direction: column;
  max-width: 1110px;
  margin: 4.75rem auto;
  padding: 0 2rem;
  box-sizing: content-box;
  gap: 1.5625rem;
}

.cards__row {
  display: flex;
  flex-direction: column;
  gap: 1.5625rem;
}

.cards__item {
  background: #fff;
  border-top: 4px solid;
  color: var(--very-dark-blue);
  box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
  border-radius: 8px;
  padding: 1.75rem;
  display: flex;
  flex-direction: column;
}

.card-img {
  align-self: end;
  width: 57px;
  margin-top: 2rem;
}

.card__title {
  font-size: 1.25rem;
  font-weight: 700;
}

.card__text {
  font-size: 0.8125rem;
  line-height: 1.4375rem;
  color: var(--semi-white);
}

.card__item--cyan {
  border-color: var(--cyan);
}

.card__item--red {
  border-color: var(--red);
}

.card__item--orange {
  border-color: var(--orange);
}

.card__item--blue {
  border-color: var(--blue);
}

@media (min-width: 920px) {
  .header {
    margin-top: 5rem;
  }

  .header__title,
  .header__subtitle {
    font-size: 2.25rem;
  }

  .header__text {
    margin-top: 0.625rem;
  }

  .cards {
    flex-direction: row;
    align-items: center;
    margin: 4rem auto 5rem;
  }

  .cards,
  .cards__row {
    gap: 1.875rem;
  }

  .cards__item {
    max-width: 350px;
    padding: 2rem;
  }

  .card__title {
    line-height: 1.2;
  }

  .card__text {
    margin-top: 0.5rem;
  }

  .card-img {
    width: 64px;
    margin-top: 2.5rem;
  }
}
